// * {
//   border: 1px solid red;
// }

body {
  margin: 0 auto;
  background-color: lightblue;
}

h1 {
  text-align: center;
}

.gameArea {
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 400px;
  height: 600px;
  background-color: white;
  overflow: hidden;


 .ma1 {
   .mh1 {
     position: absolute;
     width: 40px;
     height: 80px;
     margin: 0 auto;
     border: 1px solid blue;
   }
   .mw1 {
     position: absolute;
     display: block;
     width: 80px;
     height: 40px;
     margin: auto 0;
     top: 20px;
     left: -20px;
     border: 1px solid red;
   }
 }
  .ma2 {
    .mh2 {
      position: absolute;
      width: 40px;
      height: 80px;
      margin: 0 auto;
      border: 1px solid blue;
    }

    .mw2 {
      position: absolute;
      display: block;
      width: 80px;
      height: 40px;
      margin: auto 0;
      top: 20px;
      left: -20px;
      border: 1px solid red;
    }
  }
   .ma3 {
     .mh3 {
       position: absolute;
       width: 40px;
       height: 80px;
       margin: 0 auto;
       border: 1px solid blue;
     }

     .mw3 {
       position: absolute;
       display: block;
       width: 80px;
       height: 40px;
       margin: auto 0;
       top: 20px;
       left: -20px;
       border: 1px solid red;
     }
   }

    .ma4 {
      .mh4 {
        position: absolute;
        width: 40px;
        height: 80px;
        margin: 0 auto;
        border: 1px solid blue;
      }

      .mw4 {
        position: absolute;
        display: block;
        width: 80px;
        height: 40px;
        margin: auto 0;
        top: 20px;
        left: -20px;
        border: 1px solid red;
      }
    }

   .meteor {
     position: absolute;
     display: block;
     top: -20px;
   }
  .ma1 {
    position: absolute;
    left: 100px;
    top: -90px;
    margin: 0 auto;
  }

  .ma2 {
    position: absolute;
    left: 10px;
    top: -270px;
    margin: 0 auto;
  }

  .ma3 {
    position: absolute;
    left: 300px;
    top: -400px;
    margin: 0 auto;
  }

  .ma4 {
    position: absolute;
    left: 200px;
    top: -600px;
    margin: 0 auto;
  }

 

  // .meteorTwo {
  //   position: absolute;
  //   left: 10px;
  //   top: -270px;
  //   width: 60px;
  //   height: 60px;
  //   margin: 0 auto;
  // }

  // .meteorThree {
  //   position: absolute;
  //   left: 300px;
  //   top: -400px;
  //   width: 60px;
  //   height: 60px;
  //   margin: 0 auto;
  // }

  // .meteorFour {
  //   position: absolute;
  //   left: 200px;
  //   top: -600px;
  //   width: 60px;
  //   height: 60px;
  //   margin: 0 auto;
  // }


  .rocketArea {
    position: absolute;
    left: 180px;
    width: 20px;
    top: 500px;
    margin: 0 auto;
    border: 1px solid red;

    .rocketHeight {
      border: 1px solid green;
      height: 60px;
      width: 20px;
      position: absolute;
      margin: 0 auto;
    }

    .rocketWidth {
      border: 1px solid purple;
      height: 50px;
      width: 55px;
      margin: 0 auto;
      left: -20px;
      top: 20px;
      position: absolute;
    }

    .rocketShip {
      position: absolute;
      display: block;
      margin: 0 auto;
      left: -13px;
      top: -30px;
    }
  }


}