// * {
//   border: 1px solid red;
// }

body {
  margin: 0 auto;
  background-color: #7DAFDF;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

.gameArea {
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 400px;
  height: 600px;
  background-color: black;
  overflow: hidden;
  z-index: -1;


  .ma1 {
    .mh1 {
      position: absolute;
      width: 40px;
      height: 80px;
      margin: 0 auto;


    }

    .mw1 {
      position: absolute;
      display: block;
      width: 80px;
      height: 40px;
      margin: auto 0;
      top: 15px;
      left: -20px;


    }
  }

  .ma2 {
    .mh2 {
      position: absolute;
      width: 40px;
      height: 80px;
      margin: 0 auto;
    }

    .mw2 {
      position: absolute;
      display: block;
      width: 80px;
      height: 40px;
      margin: auto 0;
      top: 20px;
      left: -20px;
    }
  }

  .ma3 {
    .mh3 {
      position: absolute;
      width: 40px;
      height: 80px;
      margin: 0 auto;
    }

    .mw3 {
      position: absolute;
      display: block;
      width: 80px;
      height: 40px;
      margin: auto 0;
      top: 20px;
      left: -20px;
    }
  }

  .ma4 {
    .mh4 {
      position: absolute;
      width: 40px;
      height: 80px;
      margin: 0 auto;
    }

    .mw4 {
      position: absolute;
      display: block;
      width: 80px;
      height: 40px;
      margin: auto 0;
      top: 20px;
      left: -20px;
    }
  }

  .meteor {
    position: absolute;
    display: block;
    top: -20px;
  }

  .ma1 {
    position: absolute;
    left: 100px;
    top: -90px;
    margin: 0 auto;
  }

  .ma2 {
    position: absolute;
    left: 10px;
    top: -270px;
    margin: 0 auto;
  }

  .ma3 {
    position: absolute;
    left: 300px;
    top: -400px;
    margin: 0 auto;
  }

  .ma4 {
    position: absolute;
    left: 200px;
    top: -600px;
    margin: 0 auto;
  }

  .rocketArea {
    position: absolute;
    left: 180px;
    width: 20px;
    top: 460px;
    margin: 0 auto;

    .rocketHeight {
      height: 60px;
      width: 20px;
      position: absolute;
      margin: 0 auto;
    }

    .rocketWidth {
      height: 50px;
      width: 50px;
      margin: 0 auto;
      left: -14px;
      top: 20px;
      position: absolute;
    }

    .rocketShip {
      position: absolute;
      display: block;
      margin: 0 auto;
      width: 100%;
      left: 0px;
      top: -30px;
    }
  }

  .star1, .star2, .star3, .star4 {
    position: absolute;
    width: 10px;
    height: 10px;
    margin: 0 auto;
    z-index: -2;
  }

  .star1 {
    left: 100px;
    top: -20px;
  }

  .star2 {
    left: 150px;
    top: -500px;
  }

  .star3 {
    left: 330px;
    top: -90px;
  }
  .star4 {
    left: 50px;
    top: -300px;
  }



}