* {
  border: 1px solid red;
}
body {
  max-width: 600px;
  margin: 0 auto;
  background-color: lightblue;
}

h1 {
  text-align: center;
}

.gameArea {
  position: relative;
  margin: 0 auto;
  width: 400px;
  height: 600px;
  background-color: white;
  overflow: hidden;

  #obstacle {
    position: absolute;
    left: 0px;
    top: -100px;
  }

  .userArea {
    position: relative;
    width: 100%;
    top: 450px;
    height: 100px;

    .userIcon {
      position: relative;
      left: 45px;
    }
  }
}

