body {
  margin: 0 auto;
  background-color: lightblue;
}

h1 {
  text-align: center;
}

.gameArea {
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 400px;
  height: 600px;
  background-color: white;
  overflow: hidden;
}

.gameArea .meteor {
  position: absolute;
  left: 0px;
  top: -100px;
}

.gameArea .rocketArea {
  position: relative;
  width: 100%;
  top: 500px;
  height: 80px;
}

.gameArea .rocketArea .rocketShip {
  position: absolute;
  left: 180px;
}
