* {
  border: 1px solid red;
}

body {
  margin: 0 auto;
  background-color: lightblue;
}

h1 {
  text-align: center;
}

.gameArea {
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 400px;
  height: 600px;
  background-color: white;
  overflow: hidden;
}

.gameArea .meteorOne {
  position: absolute;
  left: 100px;
  top: -90px;
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

.gameArea .rocketArea {
  position: absolute;
  left: 180px;
  width: 55px;
  top: 500px;
  height: 60px;
  margin: 0 auto;
}

.gameArea .rocketArea .rocketShip {
  position: absolute;
  display: block;
  margin: 0 auto;
  left: -10px;
  top: -5px;
}
