body {
  margin: 0 auto;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

.scoreCounter {
  display: block;
  position: absolute;
  color: white;
  left: 10px;
  margin: 10px auto;
}

.gameArea {
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 400px;
  height: 600px;
  background-color: black;
  overflow: hidden;
  z-index: -1;
}

.gameArea .ma1 .mh1 {
  position: absolute;
  width: 20px;
  height: 60px;
  margin: 0 auto;
}

.gameArea .ma1 .mw1 {
  position: absolute;
  display: block;
  width: 60px;
  height: 20px;
  margin: auto 0;
  top: 15px;
  left: -20px;
}

.gameArea .ma2 .mh2 {
  position: absolute;
  width: 30px;
  height: 70px;
  margin: 0 auto;
}

.gameArea .ma2 .mw2 {
  position: absolute;
  display: block;
  width: 70px;
  height: 30px;
  margin: auto 0;
  top: 20px;
  left: -20px;
}

.gameArea .ma3 .mh3 {
  position: absolute;
  width: 20px;
  height: 60px;
  margin: 0 auto;
}

.gameArea .ma3 .mw3 {
  position: absolute;
  display: block;
  width: 60px;
  height: 20px;
  margin: auto 0;
  top: 20px;
  left: -20px;
}

.gameArea .ma4 .mh4 {
  position: absolute;
  width: 30px;
  height: 70px;
  margin: 0 auto;
}

.gameArea .ma4 .mw4 {
  position: absolute;
  display: block;
  width: 70px;
  height: 30px;
  margin: auto 0;
  top: 20px;
  left: -20px;
}

.gameArea .meteor,
.gameArea .meteor2 {
  position: absolute;
  display: block;
  top: -20px;
}

.gameArea .ma1 {
  position: absolute;
  left: 150px;
  top: -90px;
  margin: 0 auto;
}

.gameArea .ma2 {
  position: absolute;
  left: 10px;
  top: -270px;
  margin: 0 auto;
}

.gameArea .ma3 {
  position: absolute;
  left: 300px;
  top: -420px;
  margin: 0 auto;
}

.gameArea .ma4 {
  position: absolute;
  left: 200px;
  top: -620px;
  margin: 0 auto;
}

.gameArea .rocketArea {
  position: absolute;
  left: 180px;
  width: 20px;
  top: 460px;
  margin: 0 auto;
}

.gameArea .rocketArea .rocketHeight {
  height: 60px;
  width: 20px;
  position: absolute;
  margin: 0 auto;
}

.gameArea .rocketArea .rocketWidth {
  height: 50px;
  width: 50px;
  margin: 0 auto;
  left: -14px;
  top: 20px;
  position: absolute;
}

.gameArea .rocketArea .rocketShip {
  position: absolute;
  display: block;
  margin: 0 auto;
  width: 100%;
  left: 0px;
  top: -30px;
}

.gameArea .star1,
.gameArea .star2,
.gameArea .star3,
.gameArea .star4 {
  position: absolute;
  width: 10px;
  height: 10px;
  margin: 0 auto;
  z-index: -2;
}

.gameArea .star1 {
  left: 100px;
  top: -20px;
}

.gameArea .star2 {
  left: 150px;
  top: -500px;
}

.gameArea .star3 {
  left: 330px;
  top: -90px;
}

.gameArea .star4 {
  left: 50px;
  top: -300px;
}
