article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body {
  margin: 0 auto;
  background-color: #1c1c1c;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  margin: 10px 0;
  font-family: 'Concert One', sans-serif;
  font-size: 40px;
  letter-spacing: 1.5px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.gameArea {
  position: relative;
  margin: 0 auto;
  margin-bottom: 100px;
  width: 90%;
  height: 70vh;
  max-height: 600px;
  max-width: 400px;
  background-color: black;
  overflow: hidden;
  z-index: -1;
}

.scoreTitle {
  position: absolute;
  display: block;
  margin: 10px auto;
  z-index: 2;
  text-align: right;
  right: 10px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: white;
  text-shadow: 2px 2px 3px black;
}

.swal2-popup .swal2-title {
  font-family: 'Concert One', sans-serif;
}

.swal2-popup .swal2-content {
  line-height: 1.3em;
}

.asteroid {
  position: absolute;
  display: block;
  top: -20px;
}

.asteroidAreaOne,
.asteroidAreaTwo,
.asteroidAreaThree,
.asteroidAreaFour,
.asteroidHeightOne,
.asteroidHeightTwo,
.asteroidHeightThree,
.asteroidHeightFour,
.asteroidWidthOne,
.asteroidWidthTwo,
.asteroidWidthThree,
.asteroidWidthFour {
  position: absolute;
  margin: 0 auto;
}

.asteroidAreaOne {
  left: 150px;
  top: -90px;
}

.asteroidAreaTwo {
  left: 10px;
  top: -270px;
}

.asteroidAreaThree {
  left: 300px;
  top: -420px;
}

.asteroidAreaFour {
  left: 200px;
  top: -620px;
}

.asteroidHeightOne {
  width: 20px;
  height: 60px;
}

.asteroidHeightTwo,
.asteroidHeightThree,
.asteroidHeightFour {
  width: 30px;
  height: 70px;
}

.asteroidWidthOne {
  width: 60px;
  height: 20px;
  left: -20px;
  top: 15px;
}

.asteroidWidthTwo,
.asteroidWidthThree,
.asteroidWidthFour {
  display: block;
  width: 70px;
  height: 30px;
  top: 15px;
  left: -20px;
}

.starOne,
.starTwo,
.starThree,
.starFour {
  position: absolute;
  width: 12px;
  height: 12px;
  margin: 0 auto;
  z-index: -2;
}

.starOne {
  left: 100px;
  top: -20px;
}

.starTwo {
  left: 150px;
  top: -450px;
}

.starThree {
  left: 330px;
  top: -90px;
}

.starFour {
  left: 50px;
  top: -300px;
}

.rocketArea {
  position: absolute;
  margin: 0 auto;
  width: 20px;
  left: 180px;
  top: 75%;
}

.rocketArea .rocketShip {
  position: absolute;
  margin: 0 auto;
  display: block;
  width: 100%;
  left: 0px;
  top: -30px;
}

.rocketArea .rocketHeight {
  position: absolute;
  margin: 0 auto;
  height: 60px;
  width: 20px;
}

.rocketArea .rocketWidth {
  position: absolute;
  margin: 0 auto;
  height: 50px;
  width: 50px;
  left: -14px;
  top: 20px;
}
